@import './default';

.nav-conatainer {
    width: 100%;
    overflow: hidden;
    min-height: 48px;
    background: var(--BACKGROUND_NAV);
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
        padding: 0 16px;
    }

    .left,
    .right {
        display: flex;
        align-items: center;
    }

    .left>button,
    .left>div>p,
    .right>button {
        color: white;
    }

    .left {
        flex-grow: 1;
        overflow: hidden;
        padding-left: 1rem;

        .logo-img {
            width: 24px;
            height: 24px;
            margin-right: 1rem;
            cursor: pointer;
        }
    }

    main[data-theme="dark"] & {
        background: var(--DARK_BACKGROUND_MUI);
    }
}

.navicon-enter {
    opacity: 0;
    transform: translateX(100px);
    transition: all ease 500ms;
    // transform: scale(0.9);
}

.navicon-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

// .navicon-exit {
//     opacity: 1;
// }

.navicon-exit-active {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 500ms, transform 500ms;
}