.ph-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .sckell {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

[data-rmiz-modal-overlay="visible"] {
    background-color: var(--BACKGROUND_SLIDER) !important;
}

[data-rmiz] {
    width: 100%;
    height: 100%;
}

[data-rmiz-content="found"] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}